Source: pprfnk
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@pprfnk.org>
Uploaders: Holger Schinzel <holger@pprfnk.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.pprfnk.org/
Vcs-Git: git://github.com/8nyaha8/pprfnk.git
Vcs-Browser: https://github.com/8nyaha8/pprfnk

Package: pprfnkd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Pprfnk is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Pprfnk uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Pprfnk Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, pprfnkd, and the CLI tool
 pprfnk-cli to interact with the daemon.

Package: pprfnk-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Pprfnk is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Pprfnk uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Pprfnk Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Pprfnk-Qt, a GUI for Pprfnk based on Qt.

Package: pprfnk-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Pprfnk is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Pprfnk uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Pprfnk Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides pprfnk-tx, a command-line transaction creation
 tool which can be used without a pprfnk daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
